* {
    padding: 0;
    margin: 0;
}

body {
    padding: 1rem;
}

.text-input {
    display: flex;
    align-items: center;
    height: 20px;
}

input[type='number'] {
    -moz-appearance: textfield; /* Hides spinners in Firefox */
    appearance: textfield; /* Standard appearance override */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Hides spinners in Chrome, Safari, Edge */
    margin: 0; /* Prevents unwanted spacing */
}
